.header {
  position: fixed;
  left: 0;
  right: 0;
  top: 16px;
  z-index: 40;
  transition: all 0.3s;

  @include media($md) {
    top: 0;
    padding: 10px 0;
    border-radius: 0 0 20px 20px;
    background-color: transparent;
  }

  .logo {
    z-index: 10;

    @include media($lg) {
      max-width: 120px;
    }
  }

  .menu {
    display: flex;
    align-items: center;
    justify-content: space-between;

    ul {
      display: flex;
      align-items: center;
      margin: 0 auto;

      @include media($md) {
        flex-direction: column;
        align-items: flex-start;
        margin: 0 auto 40px 0;
        padding-bottom: 40px;
        width: 100%;
        border-bottom: 1px solid #e0e0e0;
      }

      li {
        a {
          font-size: 14px;
          line-height: 20px;
          color: #05062b;
          transition: all 0.3s;

          &:hover {
            color: #4845ba;
          }
        }

        &:not(:last-child) {
          margin-right: 32px;

          @include media($lg) {
            margin-right: 16px;
          }

          @include media($md) {
            margin-bottom: 32px;
            margin-rigth: 0;
          }
        }
      }
    }

    &__wrapper {
      display: flex;
      align-items: center;
      width: 100%;

      @include media($md) {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        flex-direction: column;
        padding: 100px 40px 40px;
        width: 100%;
        height: 100vh;
        box-shadow: -32px 60px 60px rgba(0, 0, 0, 0.1);
        background: rgba(255, 255, 255, 0.9);
        transform: translateX(-200%);
        transition: all 0.3s;
        backdrop-filter: blur(8px);

        &::after {
          content: "";
          position: absolute;
          left: 0;
          right: 0;
          top: 65px;
          width: 100%;
          height: 1px;
          background-color: #e0e0e0;
        }
      }
    }

    &__wrapper--active {
      transform: none;
    }

    &__burger {
      position: relative;
      z-index: 10;
      display: none;
      align-items: center;
      justify-content: center;
      padding: 0;
      width: 24px;
      height: 24px;
      min-width: 24px;
      border: none;
      background-color: transparent;
      transition: all 0.2s;

      @include media($md) {
        display: block;
      }

      img {
        position: absolute;
        left: 0;
        top: 0;
        width: 24px;
        height: 24px;
        object-fit: contain;
        transition: all 0.2s;

        &:first-of-type {
          opacity: 1;
        }

        &:nth-of-type(2) {
          opacity: 0;
        }
      }
    }

    &__burger--active {
      img {
        &:first-of-type {
          opacity: 0;
        }

        &:nth-of-type(2) {
          opacity: 1;
        }
      }
    }

    &__btns {
      display: flex;
      align-items: center;

      a {
        &:first-child {
          box-shadow: none;
          background-image: none;
          background-color: #05062b;

          &::before {
            display: none;
          }

          &:hover {
            background-color: #4845ba;
          }
        }

        + a {
          margin-left: 8px;
        }
      }

      .btn {
        padding: 0 24px;
        height: 44px;

        @include media($lg) {
          padding: 0 16px;
        }

        @include media($md) {
          padding: 0 30px;
          width: max-content;
        }

        &::after {
          display: none;
        }
      }
    }
  }

  &--active {
    top: 0;
    padding: 10px 0;
    border-radius: 0 0 20px 20px;
    background-color: #fff !important;
  }
}