.header {
  position: fixed;
  left: 0;
  right: 0;
  top: 16px;
  z-index: 40;
  transition: all 0.3s;

  .menu {
    display: flex;
    align-items: center;
    justify-content: space-between;

    ul {
      display: flex;
      align-items: center;

      li {
        a {
          font-size: 14px;
          line-height: 20px;
          color: #05062b;
          transition: all 0.3s;

          &:hover {
            color: #4845ba;
          }
        }

        + li {
          margin-left: 32px;
        }
      }
    }

    &__btns {
      display: flex;
      align-items: center;

      a {
        &:first-child {
          box-shadow: none;
          background-image: none;
          background-color: #05062b;

          &::before {
            display: none;
          }

          &:hover {
            background-color: #4845ba;
          }
        }

        + a {
          margin-left: 8px;
        }
      }

      .btn {
        padding: 0 24px;
        height: 44px;

        &::after {
          display: none;
        }
      }
    }
  }

  &--active {
    top: 0;
    padding: 10px 0;
    border-radius: 0 0 20px 20px;
    background-color: #fff;
  }
}